<!doctype html>
<html lang="zh">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>客户列表</title>

		<!-- Template CSS -->
		<link rel="stylesheet" href="assets/css/style-starter.css">

		<!-- google fonts -->
		<link href="http://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
	
		<script src="./assets/js/axios.min.js"></script>
		<script src="./assets/js/config.js" type="text/javascript" charset="utf-8"></script>
		<script src="./assets/js/vue.js" type="text/javascript" charset="utf-8"></script>

	<body class="sidebar-menu-collapsed">
		<div class="se-pre-con"></div>
		<section>
			<!-- sidebar menu start -->
			<div class="sidebar-menu sticky-sidebar-menu">

				<!-- logo start -->
				<div class="logo">
					<h1><a href="index.html">Pixellot</a></h1>
				</div>

				<!-- if logo is image enable this -->
				<!-- image logo --
    <div class="logo">
      <a href="index.html">
        <img src="image-path" alt="Your logo" title="Your logo" class="img-fluid" style="height:35px;" />
      </a>
    </div>
    <!-- //image logo -->

				<div class="logo-icon text-center">
					<a href="index.html" title="logo"><img src="assets/images/logo.png" alt="logo-icon"> </a>
				</div>
				<!-- //logo end -->

				<div class="sidebar-menu-inner">

					<!-- sidebar nav start -->
					<ul class="nav nav-pills nav-stacked custom-nav">
						<li class="menu-list">
						  <a href="#"><i class="fa fa-cube"></i>
						    <span>产品 <i class="lnr lnr-chevron-right"></i></span></a>
						  <ul class="sub-menu-list">
						    <li><a href="index.html">产品列表</a> </li>
						    <li><a href="product_type.html">产品类型</a> </li>
						  </ul>
						</li>
						<li class="menu-list">
						  <a href="#"><i class="fa fa-clone"></i>
						    <span>组件 <i class="lnr lnr-chevron-right"></i></span></a>
						  <ul class="sub-menu-list">
						    <li><a href="identifiers.html">组件列表</a> </li>
						    <li><a href="identifier_names.html">组件名称</a> </li>
						    
						    
						    <li><a href="identifier_type.html">组件类别</a> </li>
						  </ul>
						</li>
						<li><a href="customers.html"><i class="fa fa-address-card-o"></i> <span>客户</span></a></li>
						<li><a href="accounts.html"><i class="fa fa-user-o"></i> <span>账号</span></a></li>
						<li><a href="logs.html"><i class="fa fa-file-text"></i> <span>日志</span></a></li>
					</ul>
					<!-- //sidebar nav end -->
					<!-- toggle button start -->
					<a class="toggle-btn">
						<i class="fa fa-angle-double-left menu-collapsed__left"><span>折叠....</span></i>
						<i class="fa fa-angle-double-right menu-collapsed__right"></i>
					</a>
					<!-- //toggle button end -->
				</div>
			</div>
			<!-- //sidebar menu end -->
			<!-- header-starts -->
			<div class="header sticky-header">

				<!-- notification menu start -->
				<div class="menu-right">
					<div class="navbar user-panel-top">
						<!------搜索框-----
					<div class="search-box">
							<form action="#search-results.html" method="get">
								<input class="search-input" placeholder="Search Here..." type="search" id="search">
								<button class="search-submit" value=""><span class="fa fa-search"></span></button>
							</form>
						</div>

						----->


						<div class="user-dropdown-details d-flex" id="log">
							<div class="profile_details_left" v-if="username !== null">
							  <ul class="nofitications-dropdown">
							    <li class="dropdown">
							      <a href="custormer_add.html"><i class="fa fa-plus"></i></a>
							      </li>
							  </ul>
							</div>
							<div class="profile_details" v-if="username !== null">
								<ul>
								  <li class="dropdown profile_details_drop">
								    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu3" aria-haspopup="true"
								      aria-expanded="false">
								      <div>
										<i class="fa fa-user-secret fa-2x"></i>
								      </div>
								    </a>
								    <ul class="dropdown-menu drp-mnu" aria-labelledby="dropdownMenu3">
								      <li class="user-info">
								        <h5 class="user-name">{{ username }}</h5>
								        <span class="status ml-2">管理员</span>
								      </li>
								      <li> <a href="account_add.html"><i class="lnr lnr-user"></i>新增账号</a> </li>
								      <li> <a href="account_edit.html"><i class="lnr lnr-users"></i>修改账号</a> </li>
								      <li class="logout" @click="logout"> <a href="#"><i class="fa fa-power-off"></i> 退出登录</a> </li>
								    </ul>
								  </li>
								</ul>
							</div>
							<div class="profile_details" v-else>
								<ul>
									<li class="dropdown profile_details_drop">
										<a href="login.html"><i class="fa fa-laptop"> {{ username }}登录</i></a>
									</li>
								</ul>
							</div>
						</div>
						<script type="text/javascript">
							var app = new Vue({
								el: "#log",
								data: {
									username: localStorage.getItem('username')
								},
								methods: {
									logout: function(event) {
										localStorage.clear();
										setTimeout("javascript:location.href='login.html'", 100);
									}
								}
							})
						</script>
					</div>
				</div>
				<!--notification menu end -->
			</div>
			<!-- //header-ends -->
			<!-- main content start -->
			<div class="main-content">

				<div class="modal fade" id="myModal">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							</div>
							<div class="modal-body">
								<h4 class="modal-title" align="center">用户登录</h4>
								<br />
								<form class="form-horizontal" role="form">
									<div class="form-group">
										<div class="col-sm-12">
											<input type="text" class="form-control" id="name" placeholder="请输您的入账号:" v-model="username">
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12">
											<input type="password" class="form-control" id="password" placeholder="请输入您的密码:" v-model="password">
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-4 col-sm-12">
											<button id="submitBtn" type="submit" class="btn btn-default btn-block btn-primary">登录</button>
										</div>
									</div>
								</form>
							</div>
							<div class="modal-footer">
							</div>
						</div>
						<!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->

				<script type="text/javascript">
					var app = new Vue({
						el: "#myModal",
						data: {
							username: 'root',
							password: 'root',
							token: ''
						},
						methods: {
							login: function(event) {
								pixellot
									.post('/login', {
										username: this.username,
										password: this.password
									})
									.then()
									.catch()
							}
						},
						mounted() {
							pixellot
								.get('/login')
								.then(response => (this.token = response.data))
								.catch(function(error) { // 请求失败处理
									console.log(error);
								});
						}
					})
				</script>

				<!-- content -->
				<div class="container-fluid content-top-gap">

					<nav aria-label="breadcrumb">
						<ol class="breadcrumb my-breadcrumb">
							<li class="breadcrumb-item"><a href="index.html">首页</a></li>
							<li class="breadcrumb-item active" aria-current="page">客户</li>
							<li class="breadcrumb-item active" aria-current="page">客户列表</li>
						</ol>
					</nav>

					<!-- chatting -->
					<div class="data-tables">
						<div class="row">
							<div class="col-lg-12 chart-grid mb-4">
								<div class="card card_border p-4">
									<div class="card-header chart-grid__header pl-0 pt-0">
										客户列表
									</div>
									<!-- ============================================================== -->
					
									<div class="table-responsive" id="customers_list">
										<table class="table  table-striped" style="word-break:break-all; word-wrap:break-all;">
											<thead>
												<tr>
													<th style="white-space: nowrap">序号</th>
													<th style="white-space: nowrap">客户名</th>
													<th style="white-space: nowrap">联系人</th>
													<th style="white-space: nowrap">联系方式</th>
													<th style="white-space: nowrap">所在地址</th>
													<th style="white-space: nowrap">购买产品</th>
												</tr>
											</thead>
											<tbody>
												<tr v-for="(item,i) in items.customers" @click="open(customer_nu)">
													<td style="white-space: nowrap" valign="middle" @click="customer_nu=i;open(customer_nu)">{{ i+1 }}</td>
													<td style="white-space: nowrap" valign="middle" @click="customer_nu=i;open(customer_nu)">{{ item.customer_name }}</td>
													<td style="white-space: nowrap" valign="middle" @click="customer_nu=i;open(customer_nu)">{{ item.contacts }}</td>
													<td style="white-space: nowrap" valign="middle" @click="customer_nu=i;open(customer_nu)">{{ item.phone }}</td>
													<td style="white-space: nowrap" valign="middle" @click="customer_nu=i;open(customer_nu)">
														<div v-if="item.f_adress.name !== item.adress.name">
															{{ item.f_adress.name }};{{ item.adress.name }}
														</div>
														<div v-else> 
															{{ item.adress.name }}
														</div>
													</td>
													<td style="white-space: nowrap" valign="middle" @click="customer_nu=i;open(customer_nu)">
														<div v-for="production in item.productions" style="float: left;" style="white-space: nowrap" valign="middle">
														{{ production.name }}；&ensp;&ensp;&ensp;
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<script type="text/javascript">
										new Vue({
											el: '#customers_list',
											data: {
												items: 'root',
												customer_nu: null
											},
											methods: {
												open: function (customer_nu) {
														location.href="customer_details.html?customer_nu=" + this.customer_nu
												}
											},
											mounted() {
												pixellot
													.get('/customers/')
													.then(response => (this.items = response.data))
													.catch(function(error) { // 请求失败处理
														console.log(error);
													});
											}
										})
									</script>
									<!-- ============================================================== -->
					
								</div>
							</div>
						</div>
					</div>
					<!-- //chatting -->

				</div>
				<!-- //content -->
			</div>
			<!-- main content end-->
		</section>
		<!--footer section start-->
		<footer class="dashboard">
			<p>© 2020 Pixellot By Yu.</p>
		</footer>
		<!--footer section end-->
		<!-- move top -->
		<button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
			<span class="fa fa-angle-up"></span>
		</button>
		<script>
			// When the user scrolls down 20px from the top of the document, show the button
			window.onscroll = function() {
				scrollFunction()
			};

			function scrollFunction() {
				if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
					document.getElementById("movetop").style.display = "block";
				} else {
					document.getElementById("movetop").style.display = "none";
				}
			}

			// When the user clicks on the button, scroll to the top of the document
			function topFunction() {
				document.body.scrollTop = 0;
				document.documentElement.scrollTop = 0;
			}
		</script>
		<!-- /move top -->


		<script src="assets/js/jquery-3.3.1.min.js"></script>
		<script src="assets/js/jquery-1.10.2.min.js"></script>

		<!-- chart js -->
		<script src="assets/js/Chart.min.js"></script>
		<script src="assets/js/utils.js"></script>
		<!-- //chart js -->

		<!-- Different scripts of charts.  Ex.Barchart, Linechart -->
		<script src="assets/js/bar.js"></script>
		<script src="assets/js/linechart.js"></script>
		<!-- //Different scripts of charts.  Ex.Barchart, Linechart -->


		<script src="assets/js/jquery.nicescroll.js"></script>
		<script src="assets/js/scripts.js"></script>

		<!-- close script -->
		<script>
			var closebtns = document.getElementsByClassName("close-grid");
			var i;

			for (i = 0; i < closebtns.length; i++) {
				closebtns[i].addEventListener("click", function() {
					this.parentElement.style.display = 'none';
				});
			}
		</script>
		<!-- //close script -->

		<!-- disable body scroll when navbar is in active -->
		<script>
			$(function() {
				$('.sidebar-menu-collapsed').click(function() {
					$('body').toggleClass('noscroll');
				})
			});
		</script>
		<!-- disable body scroll when navbar is in active -->

		<!-- loading-gif Js -->
		<script src="assets/js/modernizr.js"></script>
		<script>
			$(window).load(function() {
				// Animate loader off screen
				$(".se-pre-con").fadeOut("slow");;
			});
		</script>
		<!--// loading-gif Js -->

		<!-- Bootstrap Core JavaScript -->
		<script src="assets/js/bootstrap.min.js"></script>

	</body>

</html>
